@font-face {
  font-family: "iconfont"; /* Project id 4255644 */
  src: url('iconfont.woff2?t=1695212088915') format('woff2'),
       url('iconfont.woff?t=1695212088915') format('woff'),
       url('iconfont.ttf?t=1695212088915') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-touxiang:before {
  content: "\e655";
}

.icon-shangwu:before {
  content: "\e692";
}

.icon-shangwu1:before {
  content: "\e701";
}

.icon-shouji:before {
  content: "\e671";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-pingtaigonggao:before {
  content: "\e666";
}

.icon-gonggao:before {
  content: "\ff59";
}

.icon-yiyuan:before {
  content: "\e688";
}

.icon-youjiantou:before {
  content: "\e605";
}

.icon-clock:before {
  content: "\e627";
}

.icon-good:before {
  content: "\e62a";
}

