@font-face {
  font-family: "iconfont"; /* Project id 4255644 */
  src: url('iconfont.woff2?t=1694943890139') format('woff2'),
       url('iconfont.woff?t=1694943890139') format('woff'),
       url('iconfont.ttf?t=1694943890139') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e627";
}

.icon-good:before {
  content: "\e62a";
}

